body {
   padding-top: 60px; 
   font-family: 'Verdana', sans-serif;
   font-size: medium;
}

.navbar .brand {
   color: #ccc;
}

.navbar .nav > li > a {
   color: #bbb;
}

.admin-tabs-search {
   margin-bottom: 0px;
   margin-left: 15px;
}

.admin-tabs-search-icon {
   margin-right: 6px;
}

#row-template {
   display: none;
}

.action-icon {
   margin-right: 5px;
}

.action-link {
   margin-left: 180px;
}

.in-center {
   width: 50%;
   margin: 30px auto 0px auto;
}

#forget-password {
   margin-left: 20px;
   font-size: small;
}

#list-control {
   float: right;
   margin-top: 20px;
   margin-bottom: 5px;
}

/* Table Template */
.row-template {
   display: none;
}

[class*="-vol"], [class*="-buy"] {
   width: 150px;
   font-size: xx-large;
   margin-right: 30px;
}
