body {
   padding-top: 60px; 
}

.navbar .brand {
   color: #ccc;
}

.navbar .nav > li > a {
   color: #bbb;
}

.admin-tabs-search {
   margin-bottom: 0px;
   margin-left: 15px;
}

.admin-tabs-search-icon {
   margin-right: 6px;
}

.action-icon {
   margin-right: 5px;
}

.action-link {
   margin-left: 180px;
   background-color: #eef;
}

.in-center {
   width: 50%;
   margin: 30px auto 0px auto;
}


/* Table Template */
.row-template {
   display: none;
}

.volume {
   width: 70px;
   text-align: center !important;
   font-size: xx-large;
   margin-right: 20px;
}

