body {
   padding-top: 60px; 
   font-family: 'Verdana', sans-serif;
   font-size: medium;
}

.navbar .brand {
   color: #ccc;
}

.navbar .nav > li > a {
   color: #bbb;
}

.admin-tabs-search {
   margin-bottom: 0px;
   margin-left: 15px;
}

.admin-tabs-search-icon {
   margin-right: 6px;
}

#row-template {
   display: none;
}

.in-center {
   width: 50%;
   margin: 30px auto 0px auto;
}

#forget-password {
   margin-left: 20px;
   font-size: small;
}

#list-control {
   float: right;
   margin-top: 20px;
   margin-bottom: 5px;
}

/* Table Template */
.row-template {
   display: none;
}

.name, .link {
   float: left;
   margin-right: 8px;
}

.link > a {
   color: grey;
}

.link > a:hover {
   text-decoration: none;
   color: #08C;
}

.vol, .buy {
   font-size: 24px;;
   margin-right: 30px;
}

.vol-act > i, .buy-act > i {
   font-size: 20px;
}

.vol, .vol-act, .buy, .buy-act {
   float: left;
   margin-right: 8px;
   vertical-align: text-top;
}

.act-icon {
   letter-spacing: 5px;
}

.col-act > i {
   font-size: 24px;
}

#dialog-outter {
   min-width: 100%;
   min-height: 100%;
   position: absolute;
   right: 0;
   top: 0;
   z-index: 1050;
   background-color: rgba(0, 0, 0, .7);
}

#dialog-border {
   width: 500px;
   margin-top: 50px;
   margin-left: auto;
   margin-right: auto;
   border: 10px solid rgba(160, 160, 160, .6);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
}

#dialog-content {
   background-color: white;
   padding: 15px 20px;
}

.modal {
   padding: 15px 25px;
   border: 10px solid rgba(160, 160, 160, .6);
   border-radius: 8px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   box-shadow: none;
}

.modal.fade {
   top: 50%;
}

/* Highlight when animation marked as finished */
.finished {
   color: #15AD15;
}

.unselectable {
   -moz-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}
